.group-list
  background-color: #DF691A

  .group-item
    background-color: #e5dcdc
    position: relative
    height: auto
    box-sizing: border-box
    padding: 25px 20px 15px
    margin: 10px
    border-bottom: 1px solid #dadfe6
    display: flex
    -webkit-flex-flow: row wrap
    width: 100%

    .avatar
      float: right

      .round-image-50
        background-color: white
        border: 1px solid #d9d9d9
        border-radius: 25px
        -moz-border-radius: 25px
        -webkit-border-radius: 25px
        height: 50px
        width: 50px
        overflow: hidden
        text-align: center
        img
          width: 100%

    .info
      flex: auto
      padding-right: 20px

    .inform-block
      word-break: break-word

    .content
      font-size: 13px
      position: relative

    .title
      top:  12px
      left: 20px

      width: 95%
      min-width: 630px
      max-width: 960px

      font-size: 15px
      color: #202020

      .group-ttitle
        left: 0
        top: -12px

.new-group
  width: 100%
  min-height: 90vh
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

  .group-form
    width: 650px
    display: flex
    flex-wrap: wrap
    padding: 0px 65px 40px 65px
    margin-top: -50px

  .title
    font-family: sans-serif
    font-size: 20px
    color: #555555
    line-height: 1.2
    text-transform: uppercase
    letter-spacing: 2px
    text-align: center
    width: 100%
    display: block
    padding-bottom: 20px

input
  outline: none
  border: none

input
  &:focus
    border-color: transparent !important
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder
    color: #999999

button
  outline: none !important
  border: none
  background: transparent
  &:hover
    cursor: pointer

.container-login100
  width: 100%
  min-height: 100vh
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  padding: 15px

.login100-form
  width: 650px
  display: flex
  flex-wrap: wrap
  padding: 150px 65px 40px 65px

.login100-form-title
  font-family: sans-serif
  font-size: 20px
  color: #555555
  line-height: 1.2
  text-transform: uppercase
  letter-spacing: 2px
  text-align: center
  width: 100%
  display: block
  padding-bottom: 20px

.wrap-input100
  width: 100%
  position: relative
  border: 1px solid #e6e6e6

.rs1-wrap
  width: 100%

.input100
  display: block
  width: 100%
  background: transparent
  font-family: sans-serif
  font-size: 18px
  color: #666666
  line-height: 1.2
  padding: 0 25px

input.input100
  height: 55px
.focus-input100
  position: absolute
  display: block
  width: calc(100% + 2px)
  height: calc(100% + 2px)
  top: -1px
  left: -1px
  pointer-events: none
  border: 1px solid #DF691A
  visibility: hidden
  opacity: 0
  -webkit-transition: all 0.4s
  -o-transition: all 0.4s
  -moz-transition: all 0.4s
  transition: all 0.4s
  -webkit-transform: scaleX(1.1) scaleY(1.3)
  -moz-transform: scaleX(1.1) scaleY(1.3)
  -ms-transform: scaleX(1.1) scaleY(1.3)
  -o-transform: scaleX(1.1) scaleY(1.3)
  transform: scaleX(1.1) scaleY(1.3)

.input100:focus + .focus-input100
  visibility: visible
  opacity: 1
  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  -ms-transform: scale(1)
  -o-transform: scale(1)
  transform: scale(1)

.login100-form-btn, .group-invite-button, .index-invite-button, .group-participants-button, .simple-btn
  display: flex
  justify-content: center
  align-items: center
  padding: 0 20px
  width: 100%
  height: 50px
  border-radius: 3px
  background: #DF691A
  font-family: sans-serif
  font-weight: 700
  font-size: 12px
  color: #fff
  line-height: 1.2
  text-transform: uppercase
  letter-spacing: 1px
  -webkit-transition: all 0.4s
  -o-transition: all 0.4s
  -moz-transition: all 0.4s
  transition: all 0.4s
  &:hover
    background: #333333

.group-settings-block
  display: flex

  .settings-icon
    margin-left: 20px
    color: #DF691A
    transition: all 0.5s
    &:hover
      color: black

.group-invite-button
  width: 30%
  &:hover
    text-decoration: none
    color: white

.index-invite-button, .group-participants-button
  width: 50%
  &:hover
    text-decoration: none
    color: white

.avatar-block
  width: 100%
  padding: 15px

  .avatar-title
    font-family: sans-serif
    font-size: 14px
    color: #555555
    line-height: 1.2
    text-transform: uppercase
    letter-spacing: 2px
    width: 30%
    padding-bottom: 20px

  .avatar
    float: right
    margin-right: -30px

.business-header
  height: 50vh
  min-height: 300px
  background: url('http://placehold.it/1920x400') center center no-repeat scroll
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

.card
  height: 100%

.group-footer
  background-color: #DF691A
  position: absolute
  left: 0
  bottom: 0
  width: 100%

.pagination
  margin-bottom: 15px
  left: 0
  bottom: 0
  width: 100%

.index-image
  text-align: center

.index-group-description
  line-height: 1

.search
  border: none
  margin-right: 16px
  font-size: 17px
  border-bottom: 1px solid grey

.filters
  padding-top: 45px
